* {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* display: grid; */
    
    place-items: center;
    background: #2D2E36;
    font-family: 'Poppins';
}

.nav-img {
    margin: 1%;
    width: 25px;
    height: 25px;
}

.game {
    margin: 0% auto;
    width: 400px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
}

#character {
    width: 50px;
    height: 50px;
    background-image: url(images/chickenhero.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    
}

.animate {
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block {
    width: 20px;
    height: 20px;
    background-image: url(images/fire.png);
    background-size: 20px 20px;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 2s infinite linear;
}

#score {
    color: white;
    margin-left: 80%;

}

/* #ground {
    width: 1500px;
    height: 24px;
    background-image: url(images/ground.png);
    position: relative;
    bottom: 50;
    animation: ground 5s infinite linear;
}

@keyframes ground{
    0%{left:100%;}
    100%{left:-500px;}
} */

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}
}

