*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #232323;
    font-family: 'Poppins';
}

.nav-img {
    margin: 1%;
    width: 25px;
    height: 25px;
}

.games {
    background-color: #232323;
    max-width: 100%;
}

.rekt-jump {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: rgb(171, 171, 171);
    padding: 2%;
    max-width: 100%;
    margin: 0% 10%;
    border-radius: 5px;
}

.cjimg {
    width: 300px;
    height: 300px;
    border-radius: 4px;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    font-size: 1.1rem;
}

button {
    padding: 1% 2%;
    border: 2px solid black;
    border-radius: 55px;
    background-color: #0155fb;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    color: white;
    text-decoration: none;
}